$container-large-desktop: (1020px);

// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}


img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  color: rgba(17, 52, 79, 1);
}

header {
  background: url('../images/placeholder-surf.jpg') center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 523px;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}

nav, h1, h4 {
  position: relative;
}

nav {
  max-width: 1018px;
  margin: 0 auto;
  padding-right: 02.7504912%;

}

nav::after {
  content: "";
  display: table;
  clear: both;

}

.logo-container {
  float: left;
  margin-top: 6px;
  margin-left: 14px;
}

.logo-container h2 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 2px;
  letter-spacing: .2px;
  position: relative;
  top: -1px;
}

.logo-container h2 > span {
  position: relative;
  left: -2px;
  letter-spacing: 0;
}

.logo-container h2 > span > span {
  letter-spacing: -0.7px;
}

.logo-container img,
.logo-container h2 {
  vertical-align: middle;
}

.header-links {
  float: right;
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.header-links li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 11px;
  text-transform: uppercase;
  font-size: 15px;

}

.header-links li:first-child {
  position: relative;
  top: -1px;
}

.header-links li span {
  display: inline-block;
  transform: scaleY(1.5);
  font-weight: bold;
  letter-spacing: -0.5px;
}

.header-links li span,
.header-links li img {
  vertical-align: middle;
}

.header-links li img {
  margin-left: 4px;
  position: relative;
  top: 1px;
  right: 3px;
}

header h1,
header h4 {
  text-align: center;
}

header h1 {
  color: white;
  text-shadow: 0 2px 4px rgba(17, 52, 79, 1);
  text-transform: uppercase;
  margin: 150px 0 0 0;

  font-size: 104px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: -3px;
}

header h4 {
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  letter-spacing: -1px;
}

.page-body {
  margin-top: 40px;
  font-family: 'Open Sans', helvetica, sans-serif;
  height: 1008px;
}


/** left-side-article **/

.left-side-article {
  height: 100%;
  display: inline-block;
  // width: 50%;
  // // position: relative;
  // top: 50px;
  // left: 135px;

}

.article-author-pic {
  background: url('../images/me-two.jpg');
  background-size: cover;
  height: 22px;
  width: 22px;
  border-radius: 100%;
  position: relative;
  margin-left: 7px;
  display: inline-block;
}

.article-author-pic::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
  border-radius: 100%
}

.left-side-article h1 {
  font-family: 'oswald', sans-serif;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 22px;
  letter-spacing: -1px;
  color: rgba(7, 53, 81, 1);
}

#header-line-two {
  bottom: 24px;
  letter-spacing: .2px;
}

.author-link {
  position: relative;
  // left: 30px;
  bottom: 25px;
  font-size: 13px;
}

.author-link span,
.author-link a {
  position: relative;

}

.author-link span {
  color: rgba(14, 110, 179, 1);
  left: 5px;
  bottom: 4px;


}

.author-link span > span {
  color: rgba(163, 178, 191, 1);
  left: 8.5px;
  bottom: -1px;

}

.author-link a {
  text-decoration: underline;
  color: rgba(163, 178, 191, 1);
  left: 13.5px;
  bottom: 3px;
}

.left-side-article p {
  // position: relative;
  font-size: 15px;
}


.first-p {
  width: 615px;
  line-height: 175%;
  margin-top: 5px;

}

.second-p {
  width: 615px;
  line-height: 175%;
  margin-top: 26px;

}

.second-p a {
  color: rgba(163, 178, 191, 1);
}


.blockquote {
  margin-top: 21px;
  color: rgba(14, 110, 179, 1);
  border-left: 2px solid rgba(211, 211, 211, 1);
  height: 56px;
}

 .blockquote p {
  height: 30px;
  font-size:27px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.third-p {
  margin-top: 27px;
  width: 612px;
  line-height: 175%;
  left: 25.5px;
}

.fourth-p {
  margin-top: 27px;
  width: 610px;
  line-height: 175%;
}

.bottom-nav {
  // position: relative;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0
  // top: 18px;
  // right: 11px;
}

.bottom-nav li:hover > button {
  background-color: rgba(15, 109, 179, 1);
}

.bottom-nav li:hover i {
  background-color: rgba(9, 51, 81, 1);
}

.bottom-nav i {
  float: left;
  background-color: rgba(93, 104, 111, 1);
  height: 30px;
  width: 33px;
  right: 13px;
  line-height: 30px;

}

.bottom-nav .button-caption {
  line-height: 30px;
  font-size: 13px;

}

.bottom-nav li {
  display: inline-block;
}


.bottom-nav button {
  margin-left: 10px;
  border: none;
  color: white;
  padding: 0;
  height: 30px;
  width: 158px;
}





/** side-bar **/

.side-bar {
  height: 100%;
  display: inline-block;

  // width: 28%;
  // // position: relative;
  // left: 206px;
  // bottom: 139px;
  // height: 650px;
}

.side-bar-author-pic {
  background: url('../images/me-two.jpg');
  background-size: cover;
  height: 84px;
  width: 84px;
  border-radius: 100%;
  position: relative;
  left: 126px;
  bottom: -43px;
}

.side-bar-author-pic::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
  border-radius: 100%
}

.ad-photo {
  background: url('../images/thedrifter2.jpg');
  background-size: cover;
  height: 300px;
  width: 278px;
  position: relative;
  top: 51px;
  left: 28px;
}

.ad-photo::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}

.side-bar span {
  margin-top: 52px;
  margin-left: 10px;
  padding-left: 15px;
  display: block;
  text-align: center;
  font-size: 17px;
  color: rgba(14, 110, 179, 1);
  text-transform: uppercase;
  letter-spacing: -1px;
}

.side-bar a {
  text-decoration: none;
  color: rgba(163, 178, 191, 1);
  // position: relative;
  font-size: 13px;
  // top: 42px;
}

.instagram {
  padding-left: 15px;
}

.facebook {
  padding-left: 15px;
}

.twitter {
  margin-left: 72px;
}

.side-bar h4 {
  font-family: 'oswald', sans-serif;
  font-weight: 400;
  color: rgba(14, 110, 179, 1);
  position: relative;
  text-transform: uppercase;
  top: 114px;
  padding-left: 28px;

}

.side-bar p {
  position: relative;
  font-size: 14px;
  color: rgba(163, 178, 191, 1);
  width: 290px;
  top: 111px;
  left: 28px;
  line-height: 175%;

}

.ad-link {
  color: green;
  text-decoration: underline;
  text-align: right;
  position: relative;
  top: 54px;
  left: 191px;

}

.footer-inner {
  padding: 0;
}

.img-contain {
  padding: 0;
}

// .footer-container {
//   padding: 30px;
// }

.footer-title {
  border-top: 1px solid rgba(225, 231, 234, 1);
  padding: 40px 0 40px 0;
  text-transform: uppercase;
  font-family: 'oswald', sans-serif;
  font-size: 65px;
  color: rgba(7, 53, 81, 1);
}

.footer-img-text {
  top: 269px;
  position: relative;
  z-index: 10;
  color: rgba(7, 53, 81, 1);
  font-family: 'oswald', sans-serif;
  text-transform: uppercase;
  font-size: 34px;
  margin-left: 10px;
  text-align: left;


}

.footer-img-third {
  top: 220px;
  position: relative;
  z-index: 10;
  color: rgba(7, 53, 81, 1);
  font-family: 'oswald', sans-serif;
  text-transform: uppercase;
  font-size: 34px;
  margin-left: 10px;
  text-align: left;
}

.footer-img-one {
  background: url('https://images.unsplash.com/photo-1445098344978-4080e28b6355?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5f22ab1f1647ca7d04b7a381edd342c1');
  background-size: cover;
  padding: 0;
  height: 324px;
  width: 100%;
  cursor: pointer;
  position: relative;

}



.footer-img-one::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}

.footer-img-one:hover::before {
  background: rgba(100, 118, 178, 0);
}

.footer-img-one:hover span {
  color: white
}



.footer-img-two {
  background: url('https://images.unsplash.com/photo-1448997999437-3cb667cf2085?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=eb884b4342c83665db7226c7f9432060');
  background-position: 60%;
  background-size: cover;
  padding: 0;
  height: 324px;
  width: 100%;
  cursor: pointer;
}

.footer-img-two::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}

.footer-img-two:hover::before {
  background: rgba(100, 118, 178, 0);
}

.footer-img-two:hover span {
  color: white
}

.footer-img-three {
  background: url('https://images.unsplash.com/reserve/eBJIgrh3TCeHf7unLQ5e_sailing-5.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=90cb51a1234b4073789332478298b9f2');
  background-size: cover;
  padding: 0;
  height: 324px;
  width: 100%;
  cursor: pointer;
}

.footer-img-three::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}

.footer-img-three:hover::before {
  background: rgba(100, 118, 178, 0);
}

.footer-img-three:hover span {
  color: white
}

.footer-img-four {
  background: url('https://images.unsplash.com/photo-1445140463371-d8036feedc2f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3f947bb953b891e1ed02ae740a24a1e0');
  background-size: cover;
  padding: 0;
  height: 324px;
  width: 100%;
  cursor: pointer;
}

.footer-img-four::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}

.footer-img-four:hover::before {
  background: rgba(100, 118, 178, 0);
}

.footer-img-four:hover span {
  color: white;
}

.footer-nav {
  height: 97px;
  background-color: rgba(7, 53, 81, 1);
}

.footer-nav-wrap {
  height: 97px;
}

.footer-nav-inner {
  height: 97px;
}

.tiy-link {
  line-height: 97px;
}

.footer-content {
  display: inline-block;
}

.copyright {
  line-height: 29px;
  color: rgba(163, 179, 191, 1);
  display: inline-block;

}

.footer-nav-items {
  display: inline-block;
  margin-left: 200px;
}

.footer-nav-item {
  margin-left: 3px;
  padding-left: 6px;
  display: inline-block;
}

.footer-nav-item a {
  text-decoration: none;
  color: rgba(163, 179, 191, 1);
}

.two {
  border-left: 1px solid rgba(163, 179, 191, 1);
}

.three {
  border-left: 1px solid rgba(163, 179, 191, 1);
}

.five {
  border-left: 1px solid rgba(163, 179, 191, 1);
}
